{% extends "layouts/base" %}

{% block content %}	

<div class="card mt-4">
	<div class="card-header">
		<div class="row">
			<h4 class="col-md-9 mt-1">
				<strong> Edit Movie </strong>
			</h4>
		</div>
	</div>
	<div class="card-body">
		<form method="POST", action= "/movies/{{ movie.id }}">
			<input type="hidden" name="_method" value="PUT" />
			{% include "movies/form" %}
		</form>
	</div>
</div>
{% endblock %}
