<div class="mt-2">
	<label class="form-label">Name:</label>
	<input type ="text" name="name" class="form-control", value={%if movie%} "{{movie.name}}" {% endif %}>
</div>
<div class="mt-2">
	<label class="form-label">Director:</label>
	<input type ="text" name="director" class="form-control", value={%if movie%} "{{movie.director}}" {% endif %}>
</div>
<div class="mt-4">
	<button class="btn btn-success">Submit</button>
</div>

