<nav class="navbar navbar-expand-lg bg-dark border-bottom border body sticky-top bg-body-tertiary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"> RMDb </a>
		<ul class="navbar-nav me-auto mb-2 mb-lg-0"
			<li class="nav-item">
				<a class="nav-link" href="/movies"> List Movies </a>
			</li>
		</ul>
	</div>
</nav>
